@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Anton&display=swap');

body{
    /* Set line spacing */
    line-height: 1.6;
}


header, nav{
    /* Set padding and margin */
    padding: 10px 20px;
    margin: 10px 0;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #f0f0f0; 
    font-size: 16px;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 5px;
}


h1{
   /*Set font and font size*/
   font-size: 36px;
   font-family: 'Merriweather', 'Anton', 'Times New Roman', serif;
}

h2{
    /*Set font, font size, and alignment*/
    font-size: 30px;
    font-family: 'Anton', 'Times New Roman', serif;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 24px;
}

h1, h2, h3{
    /*Set margin */
    margin-top: 20px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 10px;
    border-radius: 10px;
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 1px solid #ccc;
    padding: 10px; 
    background-color: #f0f0f0;

}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    display: block;
    margin: 0 auto;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1), -5px 0px 10px rgba(0, 0, 0, 0.1);
}
    

p + p {
     /* Set indentation */
     text-indent: 20px;
  }
  
p{
     /* Set margin */
     margin-top: 10px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    margin: 0 0 10px 10px;
    line-height: 1.6;
    list-style-image: url('image/sketchbook.png');
}
